<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ imgForm.non_field_errors }}</p>

            <p>{{ imgForm.imgfile.label_tag }} {{ imgForm.imgfile.help_text }}</p>

            <p>
                {{ imgForm.imgfile.errors }}
                {{ imgForm.imgfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>

            {{ result }}
        </form>

</body>
</html>